.product-imga{
    background-image: url('https://images.unsplash.com/photo-1647661073563-96c2995d135e?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDd8fGtpZHMlMjBzcG9ydCUyMHNob2VzfGVufDB8fDB8fHww');
    height: 50rem;
}
.product-imga h1{
    color: rgb(239, 239, 239);
    font-size: 2.6rem;
    padding-top: 31rem;
    padding-left: 4rem;
    width: 29rem;
    
    
}
.product-imga p{
    color: white;
    font-size: 1.6rem;
    padding-left: 4rem;
}
.product-imga button{
    height: 4rem;
    width: 13rem;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 4rem;
    border: 2px solid black;
    color: rgb(255, 255, 255);
    background-color: black;
}
.product-img-2{
    background-image: url('https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/if_w_gt_768,w_768/fw24_foga_em_mh_m_90ef2a3f7a.jpg');
    height: 50rem;
    margin-bottom: 2rem;
}
.product-img-2 h1{
    color: rgb(18, 17, 17);
    font-size: 2.6rem;
    padding-top: 31rem;
    padding-left: 4rem;
   
}
.product-img-2 p{
    color: rgb(0, 0, 0);
    font-size: 1.6rem;
    padding-left: 4rem;
}
.product-img-2 button{
    height: 4rem;
    width: 13rem;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 4rem;
    border: 2px solid black;
    color: rgb(255, 255, 255);
    background-color: black;
}
.btns button{
    font-size: 1.6rem;
    font-weight: 700;
    border: 2px solid black;
    height: 4rem;
    width: 9rem;
    margin-left: 2rem;
    margin-top: 3rem;
}
.btns{
    margin-left: 6rem;
}
.btns button:hover{
    background-color: black;
    color: white;
}
.cards-slider{
    display: flex;
    flex-direction: row;
    gap: 2rem;
   margin-top: 2rem;
    margin-left: 8rem;
}
.cards img{
    height: 19rem;
    width: 24rem;
}
.cards span{
    font-size: 1.6rem;
    padding-top:2rem;
}
.cards li{
    list-style: none;
    font-size: 1.5rem;
    padding-top: 1rem;
}
.btns2 button{
    font-size: 1.6rem;
    font-weight: 700;
    border: 2px solid black;
    height: 4rem;
    width: 12rem;
    margin-left: 8rem;
    margin-top: 4rem;
}
.btns2 button:hover{
    background-color: black;
    color: white;
}
.crusal{
    display: flex;
    flex-direction:row;
    gap: 2rem;
    margin-left: 8rem;
    margin-top: 4rem;
}
.slider img{
    height: 30rem;
    width: 24rem;
}
.slider h1{
    font-size: 1.6rem;
    font-weight: 700;
    padding-top: 1.5rem;
}
.slider span{
    font-size: 1.2rem;
    padding-top: 2rem;
}

.man-content h1{
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 2rem;
}
.man-content p{
    font-size: 1.7rem;
}
.man-content{
    display: flex;
    flex-direction: column;
align-items: center;
justify-content: center;
margin-left: 28rem;
margin-right: 28rem;
margin-top: 3rem;
}